<div class="department">
    <div class="panel panel-primary">
        <div class="panel-heading">Create a Department</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-2">
                    <label class="">Name :</label>
                </div>
                <div class="col-xs-4">
                    <input class="" type="text" name="Name" required maxlength="256">
                </div>
            </div>
        </div>
    </div>
</div>
